.sing_m.coll-mobille
  .sing.coll-mobille
    .sprite_iphone.iphone.hidden-sm.hidden-xs
    .coll-mobille-pole.pol.col-xs-12.col-md-8
      %p
        Sign Up now and view hundreds of jobs in minutes for free!
      %button#button_applicant.buto.buto_orange.mobille-button Applicant
      %span.mob_span or
      %button#button_employer.buto.buto_blue.mobille-button Employer
      = email_field_tag "description", "", :placeholder => "email@example.com", :class => 'mobille-sing my_lab'
      = password_field_tag "description", "", :placeholder => "password", :class => 'my_lab mobille-sing'
      = password_field_tag "description", "", :placeholder => "repeat password", :class => 'my_lab mobille-sing'
      = button_to 'Sing up', "#", :id => "button_singup", :class => "buto buto_ok mobille-button"
%fieldset#emp
  %legend.leg_emp.mob Employers
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.candidates
    .name_blu Browse Candidates
    %span.descr Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.match
    .name_blu Browse Candidates
    %span.descr Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.emp_time
    .name_blu Browse Candidates
    %span.descr Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.privacy    
    .name_blu Browse Candidates
    %span.descr Browse and select candidates hunderson on filteder job aplicants on minutes
%fieldset#job.mobille-job-emp
  %legend.leg_job.mob Job Seekers
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.jobs
    .name_blu Browse Candidates
    %span.descr Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.like_you
    .name_blu Browse Candidates
    %span.descr Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.job_time
    .name_blu Browse Candidates
    %span.descr Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.resume
    .name_blu Browse Candidates
    %span.descr Browse and select candidates hunderson on filteder job aplicants on minutes
#rekl_m.hidden-sm.hidden-xs
  #rekl
    #rekl_top
      .rekl_text
        We show you only the information you need to decide if a position or candidate is right for you
      .sprite_iphone.iphone_l
    #rekl_butom
      .sprite_iphone.iphone_r
      .rekl_text
        If an applicant and employer both select each other, the applicants resume is sent to the hiring managers email

