body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a:hover {
    text-decoration: none;
  }

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.ramka {
  border: 1px solid red; 
}

.ramka2 {
  border: 1px solid green; 
}

#hed {
  max-width: 980px;
  height: 120px;
  margin: 5px auto;
}

#foot_m {
  min-height: 150px;
  background-color: #2d2d2d;
}

#foot {
  max-width: 980px;
  height: 150px;
  margin: 0px auto; 
}

#logo {
  float: left;
  margin: 20px 0 0 0;
}

#menu {
  /*width: 80%;*/
  height: 115px;
}
.menu_link {
  width: 11%;
  margin-top: 4.2%;
  float: right;
  text-align: center;
  font-size: 18px;
  height: 30px; 
  margin-left: 3%;
  white-space: nowrap;
  color: #3DA6D2;
}

.link_orange {
  color: #F17420;
}

.menu_foot {
  width: 16%;
  margin: 69px 15% 0 2%;
  float: left;
  text-align: center;
  font-size: 14px;
  height: 30px;
}

#menu_footer {
  width: 39%;
  float: left;

  a {
    color: #B5B5B5;
  }
}

#emb_soc {
  float: right;
  margin-top: 52px;
  position: relative;
  left: 20px;  
}

#navig_slim {
  float: left;
  padding: 15px 0px;
  width: 35%;
}

 

@media only screen {
  .nav-button {
    display: block;
    position: absolute;
    top: 15px;
    left: 7px;
    width: 100px;
    height: 80px;
    background: url('menu-icon-large.png'), -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background: url('menu-icon-large.png'),    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background: url('menu-icon-large.png'),     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background: url('menu-icon-large.png'),      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60px, 100%;
    cursor: pointer;
    border: 0 none;
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.7) inset;
    border-radius: 5px;
    z-index: 999;
    text-indent: -9999px;
  }
  
  .nav-button:hover { 
    background-color: rgba(0,0,0,.1); 
  }

  .nav-button.open {
    background: url('close-icon-large.png'), -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background: url('close-icon-large.png'),    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background: url('close-icon-large.png'),     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background: url('close-icon-large.png'),      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60px, 100%;
  }

  .primary-nav {
    float: none;
    background-color: #0F6274; 
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    display: block;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 998;
    clear: both;
  }

  .primary-nav li {
    display: none;
    width: 100%;
    font-family: Arial;
  }

  .primary-nav li a {
    display: block;
    width: 100%;
    padding: 38px 9%;
    font-size: 41px;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .primary-nav li a:hover {
    background-color: rgba(0,0,0,.5);
    border-top-color: transparent;
  }

  .primary-nav > li:first-child {
    border-top: 1px solid rgba(0,0,0,.2);
  }

  .primary-nav.open {
    width: 100%;
    height: auto;
    padding-top: 100px;
  }

  .primary-nav.open li { 
    display: block; 
  }

  .primary-nav > li:hover > a {
    background: rgba(0,0,0,.5);
    border-bottom-color: transparent;
  }

  .primary-nav li.parent > a:after {
    content: "▼";
    color: rgba(255,255,255,.5);
    float: right;
  }

  .primary-nav li.parent > a:hover {
    background: rgba(0,0,0,.75);
  }

  .primary-nav li ul {
    display: none;
    background: rgba(0,0,0,.5);
    border-top: 0 none;
    padding: 0;
  }

  .primary-nav li ul a {
    border: 0 none;
    font-size: 12px;
    padding: 10px 5%;
    font-weight: normal;
  }

  .primary-nav li:hover ul {
    display: block;
    border-top: 0 none;
  }
}

.sprite_footer { 
  background: url('sprites/foot_soc.png') no-repeat top left;
  width: 45px;
  height: 45px;
  float: left;
  margin-left: 73px;
}

.sprite_footer.facebook { background-position: 0px 0px;  } 
.sprite_footer.twiter { background-position: -46px 0px;  } 
.sprite_footer.instagram { background-position: -92px 0px;  } 