// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sprite_job_emp { 
  background: url('sprites/job_and_emp.png') no-repeat top left;
  width: 110px;
  height: 110px;
  margin: 0 auto;
}

.sprite_job_emp.candidates { background-position: 0px 0px;  } 
.sprite_job_emp.match { background-position: -110px 0px;  } 
.sprite_job_emp.emp_time { background-position: -220px 0px;  } 
.sprite_job_emp.privacy { background-position: -330px 0px;  } 
.sprite_job_emp.jobs { background-position: -440px 0px;  } 
.sprite_job_emp.like_you { background-position: -550px 0px;  } 
.sprite_job_emp.job_time { background-position: -660px 0px;  } 
.sprite_job_emp.resume { background-position: -770px 0px;  }

.sprite_iphone {
  background: url('sprites/iphones.png') no-repeat top left;
  width: 266px;
  height: 565px;
} 

.sprite_iphone.iphone {
  background-position: 0px 0px;
  position: relative;
  top: -62px;
  left: 6.3%;
  float: left;
}

.sprite_iphone.iphone_l {
  background-position: 0px 0px;
  float: right;
} 
.sprite_iphone.iphone_r { 
  background-position: -267px 0px;
  float: left;
}

legend {
  display: block;
  padding: 0 15px;
  font-size: 23.5px;
  font-weight: 600;
  line-height: inherit;
  color: #F59F65;
  border: 0;
  white-space: nowrap;
  width: inherit; 
}

.leg_emp {
  margin: 0 43% 10px;
}

.leg_job {
  margin: 0 42% 10px;
} 

#sing_m {
  min-height: 440px;
  background-color: #0F6274;
  margin: 80px 0 100px 0;

}
#sing {
  max-width: 980px;
  min-height: 440px;
  margin: 5px auto 128px auto;

  img {
    width: 27.3%;
    position: relative;
    top: -62px;
    left: 6.3%;
    float: left;
  } 
}

#emp {
  max-width: 980px;
  min-height: 346px;
  margin: 149px auto 16px auto;
  border-top: 3px solid black;
}

#emp_link {
  /*width: 25%;*/
  float: left;
  padding: 39px 3%;

  b {
    font-size: 12.5px;
    color: #868686;
  }

  .name_blu {
    font-size: 20px;
    color: #1694C9;
  }
}

#job {
  max-width: 980px;
  min-height: 370px;
  margin: 5px auto 30px auto;
  border-top: 3px solid black;
  padding: 14px 0;
}

#rekl_m {
  min-height: 1462px;
  background-color: #F6F6F6;
  margin-top: 19px;

}
#rekl {
  max-width: 980px;
  min-height: 1462px;
  margin: 0px auto;

  img {
    width: 28.5%;
  } 
}

#pol {
  margin: 35px 0 0 0px;
  float: right;
  padding: 0 90px 0 116px;

  p {
    font-size: 29px;
    line-height: 36px;
    color: white;
    margin-top: 16px;
    margin-bottom: 21px; 
  }

  b {
    float: left;
    margin: 19px 23px 0px 25px;
    font-size: 17px;
    color: white;
  }

  .my_lab {
    width: 352px;
    height: 31px;
    font-size: 15px;
    padding-left: 10px;
    margin: 10px 100px 10px 0;
  }
}

.buto {
  width: 144px;
  height: 33px;
  color: white;
  font-size: 19px;
  float: left;
  border: none;
  margin: 10px 0;
}

.buto_ok {
  background-color: #F17420;
  margin-left: 207px;
}


@media only screen {
  .buto_orange {
    background-color: #F17420;
  }

  .active {
    font-size: 50px;
  }
}

.buto_blue {
  background-color: rgb(52, 173, 241);
}

#lab {
  height: 50px;
}

#rekl_top {
  width: 100%;
  height: auto;
  padding: 97px 20px 0 40px;
  display: table;

  .rekl_text {
    float: left;
    text-align: right;
    padding: 24% 9% 0 0;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 37px;
  }
}

#rekl_butom { 
  width: 100%;
  height: auto;
  padding-left: 3.5%;
  display: table;

  .rekl_text {
    float: right;
    text-align: left;
    padding: 23.5% 8% 0 8.5%;    
  }
}

.rekl_text {
  font-size: 37px;
  width: 71%;
  line-height: 44px;
  color: #2092CC;
}