#foot_m
  #foot
    #menu_footer
      = link_to 'Contact', '#', {:class => "menu_foot"}
      = link_to 'Terms', '#', {:class => "menu_foot"}
      = link_to 'Privacy', '#', {:class => "menu_foot"}
    #emb_soc
      %a{:href => "#"}
        .sprite3.facebook
      %a{:href => "#"}
        .sprite3.twiter
      %a{:href => "#"}
        .sprite3.instagram
      