#foot_m
  #foot
    .menu_footer.mobille-foot
      = link_to 'Contact', '#', {:class => "menu_foot mobille_link"}
      = link_to 'Terms', '#', {:class => "menu_foot mobille_link"}
      = link_to 'Privacy', '#', {:class => "mobille_link menu_foot"}
    .emb_soc.mobille-foot
      %a{:href => "#"}
        .sprite_footer.mobille_link.facebook
      %a{:href => "#"}
        .sprite_footer.mobille_link.twiter
      %a{:href => "#"}
        .sprite_footer.mobille_link.instagram
      